:root {
    --mainWhite: #f3f3f3;
    --mainDark: #26262b;
    --mainPurple: #4b0082;
    --mainGray: #656569;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif !important;
    background: var(--mainDark) !important;
    color: var(--mainWhite) !important;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a, a:hover {
    text-decoration: none !important;
    color: var(--mainWhite) !important;
}

.loading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
}

.post-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}


